In [2]:
import pandas as pd
from src import aact_data_prep

# Prep data

In [4]:
metadata_file = 'data/raw_aact/combined_neuro_designs_calculated_full_v2_20240701.csv'
ner_annotations_file = 'data/annotated_aact/ner_outputs/aggregated_ner_annotations_basic_dict_mapped_19632.csv'
enrollment_file = 'data/raw_aact/studies_enrollment_20240717.csv'

output_files = ["data/cleaned_aact/all_metadata_filtered.csv",
        "data/cleaned_aact/general_metadata.csv",
        "data/cleaned_aact/trial_design_metadata.csv",
        "data/cleaned_aact/trial_results_reporting_metadata.csv",
        "data/cleaned_aact/trial_sponsorship_metadata.csv",
        "data/cleaned_aact/trial_enrollment_metadata.csv"]

In [16]:
data_filters = {'phase':'Phase 3'}
data_out_path = 'data/cleaned_aact/'
suffix = '_phase3'
output_files = [
    f"{data_out_path}all_metadata_filtered{suffix}.csv",
    f"{data_out_path}general_metadata{suffix}.csv",
    f"{data_out_path}trial_design_metadata{suffix}.csv",
    f"{data_out_path}trial_results_reporting_metadata{suffix}.csv",
    f"{data_out_path}trial_sponsorship_metadata{suffix}.csv",
    f"{data_out_path}trial_enrollment_metadata{suffix}.csv"
]

In [18]:
aact_data_prep.main_process_raw_input_files(metadata_file, ner_annotations_file, enrollment_file, output_files, data_filters=data_filters)

/Users/sdoneva/Documents/Work/In Progress/PhD/PhD Projects/In Progress/NeuroTrialAnalysis/src/aact_data_prep.py:52: DtypeWarning: Columns (2,7,8,18) have mixed types. Specify dtype option on import or set low_memory=False.
  trial_metadata = pd.read_csv(metadata_file)

Size trial ner_annotations:  9259681
Size trial metada all before filter:  9259681
Size trial metadata all after filter:  6230261
Unique NCTIDs saved:  3563
Size trial_metadata:  3563
Size trial_design:  12648
Size df_results_reported:  3563
Size df_funding:  5506
Size trials_with_participants:  3563

In [21]:
data_filters = {'phase':'Phase 2'}
data_out_path = 'data/cleaned_aact/'
suffix = '_phase2'
output_files = [
    f"{data_out_path}all_metadata_filtered{suffix}.csv",
    f"{data_out_path}general_metadata{suffix}.csv",
    f"{data_out_path}trial_design_metadata{suffix}.csv",
    f"{data_out_path}trial_results_reporting_metadata{suffix}.csv",
    f"{data_out_path}trial_sponsorship_metadata{suffix}.csv",
    f"{data_out_path}trial_enrollment_metadata{suffix}.csv"
]

In [23]:
aact_data_prep.main_process_raw_input_files(metadata_file, ner_annotations_file, enrollment_file, output_files, data_filters=data_filters)

/Users/sdoneva/Documents/Work/In Progress/PhD/PhD Projects/In Progress/NeuroTrialAnalysis/src/aact_data_prep.py:52: DtypeWarning: Columns (2,7,8,18) have mixed types. Specify dtype option on import or set low_memory=False.
  trial_metadata = pd.read_csv(metadata_file)

Size trial ner_annotations:  9259681
Size trial metada all before filter:  9259681
Size trial metadata all after filter:  905863
Unique NCTIDs saved:  4673
Size trial_metadata:  4673
Size trial_design:  7950
Size df_results_reported:  4673
Size df_funding:  7713
Size trials_with_participants:  4673

# Read data

In [13]:
general_metadata = pd.read_csv('data/cleaned_aact/general_metadata.csv')
trial_design_metadata = pd.read_csv('data/cleaned_aact/trial_design_metadata.csv')
trial_enrollment_metadata = pd.read_csv('data/cleaned_aact/trial_enrollment_metadata.csv')
trial_results_reporting_metadata = pd.read_csv('data/cleaned_aact/trial_results_reporting_metadata.csv')
trial_sponsorship_metadata = pd.read_csv('data/cleaned_aact/trial_sponsorship_metadata.csv')

In [15]:
general_metadata.head()

,nct_id,start_year,completion_year,phase,overall_status,primary_purpose
0,NCT00000117,1995.0,1997.0,Phase 3,Completed,Treatment
1,NCT00000146,1988.0,NaN,Phase 3,Unknown status,Treatment
2,NCT00000147,1988.0,NaN,Not Applicable,Unknown status,Treatment
3,NCT00000151,1979.0,NaN,Phase 3,Completed,Treatment
4,NCT00000170,1999.0,2013.0,Phase 3,Completed,Treatment

In [17]:
trial_design_metadata

,nct_id,allocation,masking,number_of_primary_outcomes_to_measure,number_of_secondary_outcomes_to_measure,number_of_other_outcomes_to_measure,number_of_facilities,country,start_year,binned_facilities,binned_primary_outcomes,binned_secondary_outcomes
0,NCT00000117,Randomized,Double,NaN,NaN,NaN,2.0,United States,1995.0,2-10,NaN,NaN
1,NCT00000146,Randomized,Single,NaN,NaN,NaN,15.0,United States,1988.0,11-20,NaN,NaN
2,NCT00000147,not reported,Single,NaN,NaN,NaN,15.0,United States,1988.0,11-20,NaN,NaN
3,NCT00000151,Randomized,not reported,NaN,NaN,NaN,NaN,not reported,1979.0,NaN,NaN,NaN
4,NCT00000170,Randomized,None (Open Label),1.0,3.0,NaN,1.0,United States,1999.0,1,1,2-5
...,...,...,...,...,...,...,...,...,...,...,...,...
34523,NCT06293911,Randomized,Quadruple,6.0,NaN,NaN,1.0,Italy,2024.0,1,6-10,NaN
34524,NCT06294236,Non-Randomized,None (Open Label),1.0,10.0,NaN,NaN,not reported,2024.0,NaN,1,11-20
34525,NCT06294821,Randomized,Triple,2.0,1.0,NaN,NaN,not reported,2024.0,NaN,2-5,1
34526,NCT06296082,Randomized,Double,1.0,11.0,3.0,NaN,not reported,2024.0,NaN,1,11-20
34527,NCT06296875,Randomized,Triple,3.0,16.0,NaN,1.0,United Kingdom,2024.0,1,2-5,11-20

# Phase 2